<section class="features-container section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <h4>What is Augury</h4>
        <p>Augury is the most used Google Chrome Developer Tool extension for debugging and profiling Angular 2 applications.</p>
    </div>

    <!-- Animated Screenshot -->
    <!-- <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col-desktop  mdl-shadow--2dp center">
            <img style="width:100%; height:100%" src="images/augury-screenloop.gif">
        </div>
    </div> -->

    <div class="features-list">
        <h4>Why Use Augury?</h4>
        <p>Augury helps Angular 2.0 developers visualize the application through component trees, and visual debugging tools. Developers get immediate insight into their application structure, change detection and performance characteristics.</p>
    </div>

    <div class="features-list">
        <h4>Open Source</h4>
        <p>Augury is an open source effort with <a target="_blank" href="http://angular.io/" title="Google">Google</a> and <a target="_blank" href="http://rangle.io/" title="Rangle.io">Rangle.io</a>. Developers can contribute and fork the repo on <a href="https://github.com/rangle/augury" title="Angular Augury Github page">GitHub</a>.  Join the Augury Community on <a href="https://augury-slack.herokuapp.com/" title="Slack">Slack</a>. </p>
    </div>


    <div class="features-list">
        <h4>Updated Often</h4>
        <p>Augury is frequently updated to ensure feature compatibility with the latest version of Angular. View the latest release notes <a target="_blank" href="https://github.com/rangle/augury/blob/dev/CHANGELOG.md" title="release notes">here</a></p>
    </div>

    <div class="button-container mdl-cell mdl-cell--12-col-desktop center">
        <a href="<%- CTA.url %>" class="cta-button mdl-typography--font-regular mdl-button mdl-button--raised mdl-button--accent">
            <%- CTA.text %>
        </a>
    </div>
</section>
