<section class="features-container section--center mdl-grid mdl-grid--no-spacing">
    <div class="features-list">
        <h4>Visual Interface</h4>
        <p>Helps Angular 2.0 developers visualize the application through component trees, and visual debugging tools.</p>
    </div>

    <!-- Animated Screenshot -->
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col-desktop  mdl-shadow--2dp center">
            <img style="width:100%; height:100%" src="images/augury-screenloop.gif">
        </div>
    </div>

    <div class="features-list">
        <h4>Open Source</h4>
        <p>Augury is an open source effort with Google and <a target="_blank" href="http://rangle.io/" title="Rangle.io">Rangle.io</a>. You can contribute and fork the repo on <a href="https://github.com/rangle/augury" title="Angular Augury Github page">GitHub</a>.</p>
    </div>

    <div class="features-list">
        <h4>Intuitive</h4>
        <p>By keeping in mind the existing Google Developer Tools you already love and use it’s easy to get debugging.</p>
    </div>


    <div class="features-list">
        <h4>Latest Version Support</h4>
        <p>Augury supports the latest Angular version. With rapid changes Augury strives to keep up to date and relevant.</p>
    </div>

    <div class="button-container mdl-cell mdl-cell--12-col-desktop center">
        <a href="<%- CTA.url %>" class="cta-button mdl-typography--font-regular mdl-button mdl-button--raised mdl-button--accent">
            <%- CTA.text %>
        </a>
    </div>
</section>