<footer class="mdl-mega-footer">
    <section class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-cell mdl-cell--3-col mdl-layout--large-screen-only mdl-typography--text-center">
            <img style="width: 110px; height: 120px;" src="<%- footerImg %>" alt="">
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h4>Resources</h4>
            <ul class="footer-links">
                <li> <a class="" href="https://angular.io" Title="Learn Angular">Learn Angular</a> </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h4>Help</h4>
            <ul class="footer-links">
                <li> <a class="" href="https://github.com/rangle/augury/issues" title="Angular Augury GitHub Issues">Report
                        Issues</a> </li>
            </ul>
        </div>
        <div class="mdl-cell mdl-cell--3-col mdl-cell--12-col-tablet mdl-cell--12-col-phone">
            <h4>Community</h4>
            <ul class="footer-links">
                <li> <a target="_blank" href="http://rangle.io/" title="Rangle.io">Rangle.io</a> </li>
                <li> <a class="" href="https://github.com/rangle/augury" title="Angular Augury GitHub">GitHub</a> </li>
                <li> <a class="" href="https://augury-slack.herokuapp.com" title="Angular Augury Slack">Slack</a> </li>
            </ul>
        </div>
    </section>
</footer>
<footer>
    <div class="mdl-mega-footer--bottom-section">
        <p class="mdl-typography--font-light center"> Powered by Google ©2010-2018. Code licensed under an <a href="/license.html">MIT-style
                License</a>. Documentation licensed under <a href="http://creativecommons.org/licenses/by/4.0/">CC BY
                4.0</a>.</p>
    </div>
</footer>