  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

    <%- partial("pages/_partials/nav", {
      name: 'Augury',
      logoWithText: 'images/angular-logo-with-text.svg',
      CTA: {
        text: 'Install',
        url: 'https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd'
      },
      pages: global_nav_pages,
      homeHref: '/'
    }) %>

    <main class="mdl-layout__content">
      <header class="hero-background">

          <!-- Hero -->
          <%- partial("pages/_partials/hero", {
            name: 'Angular Augury',
            logo: {
              src: 'images/augury-logo.svg',
              alt: 'Augury Logo'
            },
            tagline: 'A Google Chrome Dev Tools extension for debugging Angular 2 applications.',
            CTA: {
              text: 'Install',
              href: 'https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd'
            }
          }) %>

      </header>

      <!-- Add as many features as needed -->
      <%- partial("pages/_partials/features", {
        CTA: {
          text: 'Install',
          url: 'https://chrome.google.com/webstore/detail/augury/elgalmkoelokbchhkhacckoklkejnhcd'
        }
      }) %>

      <%- partial("pages/_partials/footer", {
        footerImg: 'images/angular-logo.svg'
      }) %>
    </main>
  </div>
