.mdl-mega-footer {
    margin-top: 0 !important;
}

.features-list a {
    color: inherit !important;
    padding: 0 !important;
    font-weight: 500;
}

.logo-container > img {
    max-width: 180px;
}

.top-nav {
    background-color: #673ab7 !important;
}

.top-nav .mdl-navigation__link:hover, input:checked+.top-nav-wrapper label {
    background-color: #455A64;
}

@media (max-width: 800px) {
    .hero-container .mdl-cell > h5 {
        max-width: 100% !important;
    }

    .top-nav-wrapper nav {
        background: #455A64;
    }

    .hero-container {
        padding-bottom: 56px !important;
    }

    .logo-container {
        padding-right: 0 !important;
    }
}

.hero-background {
    background-color: #673ab7;
    background: linear-gradient(#512da8,#673ab7);
    color: #fff;
    margin-bottom: 60px;
}

.cta-button {
    color: #fff !important;
    background-color: #673ab7 !important;
    margin-bottom: 40px !important;
}

.hero-container .cta {
    color: #673ab7 !important;
}

.code-block {
    max-width: 920px;
    padding: 6px 24px;
    background: #009688;
    border-left: 4px solid #00796b;
    border-radius: 4px;
}

.button-container {
    margin-bottom: 64px !important;
}